.administration-section {
  min-height: 51rem;
}
.administration-section .table td {
  vertical-align: middle;
}
.administration-section tbody + thead {
  display: none;
}

.administration-section tr td:last-child {
  width: 7rem;
}
.administration-section .flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.administration-section .flex-separate {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
