#custom-alert {
  margin-top: 4rem;
}
#custom-alert .modal-content {
  color: #fff;
}
#custom-alert .modal-body {
  width: 100%;
  display: flex;
  align-items: center;
}
#custom-alert .modal-content .btn {
  padding: 0.4rem;
  margin-right: 0.4rem;
}
#custom-alert .modal-content .btn .close {
  color: #fff;
}
.success-alert {
  background: #28a745;
}
.error-alert {
  background: #dc3545;
}

@media (min-width: 768px) {
  #alert-modal-backdrop {
    background: transparent;
    width: 0;
    height: 0;
  }
  #alert-modal {
    left: 74vw;
    width: 25vw;
    height: auto;
  }
  #custom-alert {
    margin: 4rem 1rem auto auto;
    width: 25vw;
  }
  #custom-alert .modal-content .btn {
    padding: 0.2rem;
    margin-right: 0.2rem;
  }
}
