.dashboard {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(10rem, auto) 25rem minmax(10rem, auto);
  padding-bottom: 2rem;
  column-gap: 2rem;
  row-gap: 2rem;
}
.dashboard div:nth-child(1) {
  grid-row: 2;
}
.dashboard div:nth-child(2) {
  grid-row: 1;
}
.dashboard div:nth-child(3) {
  grid-row: 3;
}

.dashboard .dashboard-card {
  margin: 0;
}

.dashboard .nav {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 1rem;
  border-bottom: 1px solid #dee2e6;
}
.dashboard .nav a {
  width: auto;
  padding: 0.3rem 0.3rem;
  font-size: 0.85rem !important;
  box-shadow: none;
  outline: none;
}

.dashboard .tab-content {
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
}

.dashboard-user-reservation-container * {
  font-size: 0.85rem !important;
}
.dashboard-user-reservation-container tbody + thead {
  display: none;
}
.dashboard-user-reservation-container .table td {
  vertical-align: middle;
}
.dashboard-user-reservation-container .table tr td:nth-child(3) .btn {
  margin: 0 auto;
}
.dashboard-user-reservation-container .row .col-md-5 {
  display: none;
}
.dashboard-user-reservation-container .row:nth-child(3),
.dashboard-user-reservation-container .row .col-md-7 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard-user-reservation-container .btn {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.dashboard-user-reservation-container .btn .icon {
  height: auto;
  vertical-align: center;
}

@media (min-width: 992px) {
  .dashboard {
    display: grid;
    grid-template-columns: 20fr 13fr;
    grid-template-rows: 26.5rem minmax(20rem, auto);
  }
  .dashboard div:nth-child(1) {
    grid-row: 1;
    grid-column: 1;
  }
  .dashboard div:nth-child(2) {
    grid-row: 1;
    grid-column: 2;
  }
  .dashboard div:nth-child(3) {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media (min-width: 768px) {
  .dashboard .nav a {
    width: auto;
    font-size: 0.9rem !important;
  }
}
