.header-navbar-brand-container {
  padding-left: 0.5rem;
  width: calc(230px - 1.2rem);
}
.header-container {
  width: calc(100% - 230px + 1.2rem);
  padding: 0 0 0 2.5rem;
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 1200px) {
  .header-container {
    width: calc(100% - 230px + 1.2rem);
    padding: 0 0 0 4rem;
  }
}

#desktop-user-information {
  width: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#desktop-user-information h3 {
  font-size: 0.95rem;
  color: #000;
  transition-duration: 0.5s;
}
#desktop-user-information h3:hover {
  color: #333;
}

.header-user-icon-container {
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 0.5rem;
  background: #42a9e9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: ;
  color: #fff;
}

.header-user-icon {
  height: 2rem !important;
  width: 2rem !important;
  font-size: 1.3rem !important;
  margin: 0 !important;
}

.ui.left.sidebar {
  width: 230px;
}
.desktop-navbar {
  top: 3rem !important;
  padding-top: 1rem;
  background: #fafafa !important;
  z-index: 101 !important;
}

.navbar-menu-item {
  height: 3rem;
  padding: 0.75rem 1.2rem !important;
  display: flex !important;
  align-items: center;
}

.navbar-span {
  display: flex;
  align-items: center;
  color: #515151;
}

.navbar-icon {
  color: #42a9e9;
  margin-right: 0.5rem !important;
  font-size: 1.3rem !important;
}
