.login-container {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  padding: 0 15vw;
  /* background: rgb(69, 20, 90);
  background: linear-gradient(
    48deg,
    rgba(69, 20, 90, 1) 18%,
    rgba(255, 83, 0, 1) 100%
  ); */
  background: rgb(2, 0, 36);
  background: linear-gradient(
    45deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 53%,
    rgba(0, 212, 255, 1) 100%
  );
}

.logo-container {
  height: 30vh;
  padding-top: 20vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  color: #ddd;
  font-size: 0.8rem;
}

.logo-container h1 {
  width: 100%;
  margin: 0;
  color: #ddd;
  font-family: "Quicksand", sans-serif;
  text-align: center;
}

.login-form {
  padding-top: 15vh;
}

.login-form .input-group-text {
  width: 4rem;
  height: 3.5rem;
  background: rgba(255, 255, 255, 0.3);
  border: 0;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  color: #ddd;
}

.login-form .input-group-text .icon {
  width: 2rem;
  height: 2rem;
  margin: 0 0 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form .form-control {
  width: 4rem;
  height: 3.5rem;
  background: rgba(255, 255, 255, 0.3);
  border: 0;
  border-top-right-radius: 2rem !important;
  border-bottom-right-radius: 2rem !important;
  color: #ddd;
}

.login-form .form-control::placeholder {
  color: #ddd;
}

.login-form .form-control:focus {
  border: none;
}

.login-form .form-text {
  width: 100%;
  text-align: center;
  color: #e6827e;
}

.login-form-error {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  text-align: center;
  color: #e6827e;
}

.btn-fancy {
  width: 100%;
  height: 3.5rem;
  padding: 0.375rem 0.75rem;
  border: 0;
  border-radius: 2rem;
  color: #ddd;
  /* background: #d4217d; */
  background: #0564b5;
}

.btn-fancy:focus,
.btn-fancy:hover,
.btn-fancy:active,
.btn-fancy:checked,
.btn-fancy:visited {
  color: #fff;
  /* background: #d4217d !important; */
  background: #0564b5 !important;
  outline: none;
}

.link-to-signup-container {
  width: 100%;
  padding: 8vh 0;
}
.link-to-signup-container p {
  text-align: center;
  color: #ddd;
}
.link-to-signup-container p a {
  font-size: 1.05rem;
  font-weight: bold;
  text-align: center;
  color: #ddd;
}

@media (min-width: 768px) {
  .login-container {
    display: flex;
    margin: 0;
    max-width: 100vw;
    padding: 0;
  }
  .login-div-left,
  .login-div-right {
    height: 100vh;
  }
  .login-div-left {
    width: 40vw;
    display: flex;
    align-items: center;
    background: #f7f7f7;
    color: blue;
  }
  .logo-container {
    align-items: flex-start;
    padding: 0;
    padding-bottom: 12vh;
  }
  .logo-container h1 {
    font-size: 4rem;
    color: #0564b5;
  }
  .logo-container h3 {
    font-size: 2rem;
    color: #0564b5;
    font-family: "Quicksand", sans-serif;
    margin: 0;
  }

  .login-div-right {
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      238deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 9, 121, 1) 33%,
      rgba(0, 212, 255, 1) 100%
    );
  }
  .login-form {
    width: 40vw;
    height: auto;
    padding: 5vw;
  }
  .link-to-signup-container {
    padding: 0;
  }

  .btn-fancy {
    background: #073696;
  }
}
