#login-container {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  padding: 0 10vw;
  background: #fff;
}
#login-container .logo-container {
  width: 100%;
  padding-top: 15vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#login-container .logo-container h1 {
  width: 100%;
  margin: 0;
  color: #073696;
  font-family: "Quicksand", sans-serif;
  text-align: center;
}

.login-form {
  max-width: 25rem;
  padding: 4vh 5vh;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border: 1px solid rgba(5, 100, 181, 1);
}
.login-form .input-group-text {
  width: 4rem;
  height: 3.5rem;
  background: rgba(5, 100, 181, 1);
  border: 1px solid rgba(5, 100, 181, 1);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  color: #ddd;
}
.login-form .input-group-text .icon {
  width: 2rem;
  height: 2rem;
  margin: 0 0 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form .form-control {
  width: 4rem;
  height: 3.5rem;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(5, 100, 181, 1);
  border-top-right-radius: 2rem !important;
  border-bottom-right-radius: 2rem !important;
  color: rgba(5, 100, 181, 1);
}
.login-form .form-control:focus,
.login-form .form-control:hover,
.login-form .form-control:active,
.login-form .form-control:checked,
.login-form .form-control:visited {
  background: rgba(255, 255, 255, 0.3);
}
.login-form .form-control::placeholder {
  color: rgba(5, 100, 181, 1);
}
.login-form .form-control:focus {
  border: none;
}
.login-form .form-text {
  width: 100%;
  text-align: center;
  color: #ec3a34;
}
.login-form-error {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  text-align: center;
  color: #ec3a34;
}
.login-form .btn-fancy {
  width: 100%;
  height: 3.5rem;
  padding: 0.375rem 0.75rem;
  border: 1px solid rgba(5, 100, 181, 1);
  border-radius: 2rem;
  color: #ddd;
  background: rgba(5, 100, 181, 1);
}
.login-form .btn-fancy:focus,
.login-form .btn-fancy:hover,
.login-form .btn-fancy:active,
.login-form .btn-fancy:checked,
.login-form .btn-fancy:visited {
  color: #fff;
  background: rgba(5, 100, 181, 0.8);
  outline: none;
}

.link-to-signup-container {
  width: 100%;
  padding-top: 8vh;
}
.link-to-signup-container p {
  text-align: center;
}
.link-to-signup-container p a {
  font-size: 1.05rem;
  font-weight: bold;
  text-align: center;
}

@media (min-width: 768px) {
  .logo-container {
    padding-top: 10vh !important;
    padding-bottom: 8vh !important;
  }
}
