.register-container {
  width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
  padding: 0 8vw;
  /* background: rgb(69, 20, 90);
  background: linear-gradient(
    217deg,
    rgba(69, 20, 90, 1) 25%,
    rgba(195, 63, 0, 1) 100%
  ); */
  background: rgb(2, 0, 36);
  background: linear-gradient(
    228deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 53%,
    rgba(0, 212, 255, 1) 100%
  );
}

.register-form {
  padding-top: 15vh;
}

.register-form .input-group-text {
  width: 4rem;
  height: 3.5rem;
  background: rgba(255, 255, 255, 0.3);
  border: 0;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  color: #ddd;
}

.register-form .input-group-text .icon {
  width: 2rem;
  height: 2rem;
  margin: 0 0 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form .form-control {
  height: 3.5rem;
  background: rgba(255, 255, 255, 0.3);
  border: 0;
  padding: 0 1.5rem;
  border-top-right-radius: 2rem !important;
  border-bottom-right-radius: 2rem !important;
  border-top-left-radius: 2rem !important;
  border-bottom-left-radius: 2rem !important;
  color: #ddd;
}

.register-form select.form-control {
  box-shadow: transparent;
  appearance: none;
}

.register-container select.form-control option {
}

.register-form .form-control::placeholder {
  color: #ddd;
}

.register-form .form-control:focus {
  border: none;
}

.register-form .form-text {
  width: 100%;
  text-align: center;
  color: #e6827e;
}

.register-form-error {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  text-align: center;
  color: #e6827e;
}

.register-form .btn-fancy {
  margin: 1.5rem 0 2.5rem 0;
  background: #081e87;
}

.register-form .btn-fancy:focus,
.register-form .btn-fancy:hover,
.register-form .btn-fancy:active,
.register-form .btn-fancy:checked,
.register-form .btn-fancy:visited {
  color: #fff;
  /* background: #d4217d !important; */
  background: #081e87 !important;
  outline: none;
}

.link-to-login-container {
  width: 100%;
  padding-bottom: 8vh;
}
.link-to-login-container p {
  text-align: center;
  color: #ddd;
}
.link-to-login-container p a {
  font-size: 1.05rem;
  font-weight: bold;
  text-align: center;
  color: #ddd;
}

@media (min-width: 768px) {
  .register-container {
    display: flex;
    margin: 0;
    max-width: 100vw;
    padding: 0;
  }
  .register-div-left,
  .register-div-right {
    height: 100vh;
  }
  .register-div-right {
    width: 40vw;
    display: flex;
    align-items: center;
    background: #f7f7f7;
    color: blue;
  }
  .logo-container {
    align-items: flex-start;
    padding: 0;
    padding-bottom: 12vh;
  }
  .logo-container h1 {
    font-size: 4rem;
    color: #0564b5;
  }
  .logo-container h3 {
    font-size: 2rem;
    color: #0564b5;
    font-family: "Quicksand", sans-serif;
    margin: 0;
  }

  .register-div-left {
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      54deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 9, 121, 1) 33%,
      rgba(0, 212, 255, 1) 100%
    );
  }
  .register-form {
    width: 40vw;
    height: auto;
    padding: 7vw 5vw 1vw 5vw;
  }
  .link-to-signup-container {
    position: relative;
    top: 0;
    width: 100%;
  }
  .btn-fancy {
    background: #073696;
  }
}
