#register-container {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  padding: 0 7vw;
  background: #fff;
}
#register-container .logo-container {
  width: 100%;
  padding-top: 15vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
#register-container .logo-container h1 {
  width: 100%;
  margin: 0;
  color: #42a9e9;
  font-family: "Quicksand", sans-serif;
  text-align: center;
}

.register-form {
  max-width: 25rem;
  padding: 4vh 3vh;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border: 1px solid #42a9e9;
}
.register-form .form-control {
  height: 3.5rem;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid #42a9e9;
  border-top-right-radius: 2rem !important;
  border-bottom-right-radius: 2rem !important;
  border-top-left-radius: 2rem !important;
  border-bottom-left-radius: 2rem !important;
  color: #42a9e9;
}
.register-form .form-control:focus,
.register-form .form-control:hover,
.register-form .form-control:active,
.register-form .form-control:checked,
.register-form .form-control:visited {
  background: rgba(255, 255, 255, 0.3);
}
.register-form .form-control::placeholder {
  color: #42a9e9;
}
.register-form .form-control:focus {
  border: none;
}
.register-form select.form-control {
  box-shadow: transparent;
  appearance: none;
}
.register-form .form-text {
  width: 100%;
  text-align: center;
  color: #ec3a34;
}
.register-form-error {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  text-align: center;
  color: #ec3a34;
}
.register-form .btn-fancy {
  width: 100%;
  height: 3.5rem;
  padding: 0.375rem 0.75rem;
  border-radius: 2rem;
  color: #fff;
  margin-top: 1.5rem;
}

.link-to-login-container {
  width: 100%;
  padding: 8vh 0;
}
.link-to-login-container p {
  text-align: center;
}
.link-to-login-container p a {
  font-size: 1.05rem;
  font-weight: bold;
  text-align: center;
}

@media (min-width: 768px) {
  .logo-container {
    padding-top: 10vh !important;
    padding-bottom: 0vh !important;
  }
}
