.reservation-card-container {
  width: 100%;
  height: 16rem;
  margin: 0.5rem 0;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  cursor: pointer;
}

#room-select-menu {
  overflow-y: hidden;
}

#room-select-menu .reservation-card-container:nth-child(1) {
  background: url("https://cdn.pixabay.com/photo/2016/03/27/23/00/weight-lifting-1284616_1280.jpg");
  background-position: center;
  background-size: cover;
}
#room-select-menu .reservation-card-container:nth-child(2) {
  background: url("https://images.pexels.com/photos/2017868/pexels-photo-2017868.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-size: cover;
}
#room-select-menu .reservation-card-container:nth-child(3) {
  background: url("https://images.pexels.com/photos/1174746/pexels-photo-1174746.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-size: cover;
}
#room-select-menu .reservation-card-container:nth-child(4) {
  background: url("https://images.pexels.com/photos/39671/physiotherapy-weight-training-dumbbell-exercise-balls-39671.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-size: cover;
}
#room-select-menu .reservation-card-container:nth-child(5) {
  background: url("https://images.pexels.com/photos/976873/pexels-photo-976873.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-size: cover;
}

.reservation-card-container .card-body {
  z-index: 10;
}

.reservation-card-color {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(12, 34, 56, 0.7);
  z-index: 1;
}

.reservation-card-menu-wrapper {
  padding-top: 2rem;
  z-index: 2;
}

.reservation-card-menu-wrapper .card-title {
  font-size: 1.8rem;
  color: #fff;
}

.reservation-card-menu-wrapper .card-text {
  width: 100%;
}
