.hours-col {
  width: 5.5%;
}
.one-of-seven-cols {
  width: 13.5%;
}

.room-reservation-table th {
  transition-duration: 0.1s;
}
.room-reservation-table th:hover {
  background: #eee;
}

.table-head-col-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.table-head-col-container p {
  width: 100%;
  text-align: center;
}

.table-head-col-container p:nth-child(1) {
  margin: 0;
  font-size: 0.9rem;
}

.table-head-col-container p:nth-child(2) {
  font-size: 0.88rem;
}

.reservation-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
}
.reservation-btn-container .btn {
  width: 75%;
  height: 2rem;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 0.8rem;
}
.reservation-hour-container {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 0.9rem;
}

@media (max-width: 960px) {
  .reservation-btn-container .btn {
    width: auto;
  }
}
