#root {
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
}

#main-content {
  padding-top: 4rem;
}

.navbar {
  background: #fff;
  height: 3.5rem;
  align-items: center;
  justify-content: left;
  padding: 0.1rem 1rem;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  z-index: 102;
}

@media (min-width: 768px) {
  #main-content {
    padding-left: 230px;
  }

  #desktop-container {
    min-height: calc(100vh - 4rem);
    padding: 0 2.5rem;
  }
}

@media (min-width: 1200px) {
  #desktop-container {
    padding: 0 4rem;
    max-width: 100%;
  }
}

/* SEMANTIC-UI-REACT Icon - START */
i.icon {
  margin: 0;
}
/* SEMANTIC-UI-REACT Icon - END */

/* MDB DataTables - START */
.dataTables_length select {
  width: auto;
}
.dataTables_filter {
  display: flex;
  justify-content: flex-end;
}
.dataTables_filter input {
  display: inline-block;
  margin-left: 0.5rem;
  width: auto;
}
@media (max-width: 768px) {
  .dataTables_filter {
    display: flex;
    justify-content: flex-start;
  }
}
/* MDB DataTables - END */

.dashboard-page-title {
  width: 100%;
  margin: 1.2rem 0 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dashboard-page-title h4 {
  font-size: 1.9rem;
  margin: 0;
}
.dashboard-page-title .btn {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  border-radius: 50%;
  background: #aaa;
  border-color: #aaa;
}
.dashboard-page-title .btn .icon {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .dashboard-page-title h4 {
    font-size: 1.5rem;
  }
  .dashboard-page-title .btn {
    width: 1.9rem;
    height: 1.9rem;
  }
}