#app-idc {
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
}

.navbar {
  height: 3.25rem;
  align-items: center;
  justify-content: left;
  padding: 0.1rem 1rem;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}
