#root {
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
}

#main-content {
  min-height: calc(100vh);
  padding-top: 4rem;
  background: #fafafa;
  overflow: hidden;
}

#main-content * {
  font-size: 0.9rem;
}

#dashboard-container {
  min-height: calc(100vh - 5.2rem);
}

.navbar {
  background: #fff;
  height: 3.5rem;
  align-items: center;
  justify-content: left;
  padding: 0.1rem 1rem;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  z-index: 102;
}

@media (min-width: 769px) {
  #main-content {
    padding-left: 230px;
  }
  #dashboard-container {
    min-height: (100vh - 4.7rem);
    padding: 0 2.5rem;
  }
}

@media (min-width: 1200px) {
  #dashboard-container {
    padding: 0 4rem;
    max-width: 100%;
  }
}

/* SEMANTIC-UI-REACT Icon - START */
i.icon {
  margin: 0;
}
/* SEMANTIC-UI-REACT Icon - END */

/* MDB DataTables - START */
.dataTables_length select {
  width: auto;
}
.dataTables_filter {
  display: flex;
  justify-content: flex-end;
}
.dataTables_filter input {
  display: inline-block;
  margin-left: 0.5rem;
  width: auto;
}
.dataTables_paginate {
  cursor: pointer;
}
@media (max-width: 768px) {
  .dataTables_filter {
    display: flex;
    justify-content: flex-start;
  }
}
/* MDB DataTables - END */

.dashboard-page-title {
  width: 100%;
  margin: 1.2rem 0 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dashboard-page-title h4 {
  font-size: 1.3rem !important;
  font-weight: bold;
  margin: 0;
}
.dashboard-page-title .back-button {
  width: 1.9rem;
  height: 1.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  border-radius: 50%;
}
.dashboard-page-title .back-button .icon {
  width: 2rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .dashboard-page-title h4 {
    font-size: 1.6rem !important;
  }
  .dashboard-page-title .back-button {
    width: 2.5rem;
    height: 2.5rem;
  }
}

/* Content from CMS - START */
.cms-content {
}
.cms-content h1,
.cms-content h2,
.cms-content h3,
.cms-content h4,
.cms-content h5,
.cms-content h6 {
  font-weight: bold;
  margin: 0.5rem 0 0.2rem 0;
}
.cms-content h1,
.cms-content h1 * {
  font-size: 2rem !important;
}
.cms-content h2,
.cms-content h2 * {
  font-size: 1.75rem !important;
}
.cms-content h3,
.cms-content h3 * {
  font-size: 1.5rem !important;
}
.cms-content h4,
.cms-content h4 * {
  font-size: 1.2rem !important;
}
.cms-content h5,
.cms-content h5 * {
  font-size: 0.8rem !important;
}
.cms-content h6,
.cms-content h6 * {
  font-size: 0.6 !important;
}
.cms-content p {
  min-height: 1rem;
  margin: 0.05rem 0;
}
/* Content from CMS - END */
