@media (min-width: 768px) {
  .user-management-card {
    padding: 3rem 4rem !important;
  }
}

.flex-separate {
  justify-content: space-between;
}

.logout-span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logout-span .icon {
  height: 1rem;
  display: flex;
  align-items: center;
  margin-right: 0.3rem;
}